
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 0
# AccessModifierOffset: 0
NamespaceIndentation: All
AlignConsecutiveMacros: true

Language: Cpp
DerivePointerAlignment: true
PointerAlignment: Right
AlignEscapedNewlines: Right
AlignConsecutiveDeclarations: true
ReflowComments: true
SpacesBeforeTrailingComments: 2
IndentPPDirectives: BeforeHash
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
ForEachMacros: ['WHILE', 'FOR', 'WHILE0', 'WHILE1', 'WHILE2', 'REDUCE_SPECIALIZE']

BreakBeforeBraces: Custom
