include README.rst RELEASE.rst
include LICENSE
include Makefile tox.ini
include pyproject.toml

graft LICENSES

recursive-include bottleneck/src *.c *.h
exclude bottleneck/src/reduce.c
exclude bottleneck/src/move.c
exclude bottleneck/src/nonreduce.c
exclude bottleneck/src/nonreduce_axis.c
exclude bottleneck/src/bn_config.h

recursive-include doc *
recursive-exclude doc/build *
include versioneer.py
include bottleneck/_version.py

global-exclude __pycache__
global-exclude *.pyc
global-exclude *~
