include LICENSE README.rst RELEASE.rst bottleneck/LICENSE
include Makefile tox.ini ez_setup.py
recursive-include bottleneck/template *.pyx
recursive-include bottleneck/ *.c *.h
recursive-include bottleneck/csrc *.c *.h
recursive-include doc *
recursive-exclude doc/build *
