name: Github Actions

on: ["push", "pull_request"]

jobs:
  test-linux-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.14-dev"]
        os:
          # Note that macos-13 is x86-64 (deprecated already),
          # and macos-latest is arm64.
          [ubuntu-22.04, ubuntu-24.04-arm, macos-13, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/bottleneck-action

  test-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.14-dev", "3.14t-dev"]
        architecture: [x86, x64]
        os: [windows-latest, windows-2022]
        include:
          - os: windows-11-arm
            architecture: arm64
            python-version: "3.11"
          - os: windows-11-arm
            architecture: arm64
            python-version: "3.14-dev"
          - os: windows-11-arm
            architecture: arm64
            python-version: "3.14t-dev"
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/bottleneck-action

  test-pyversions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.13t", "3.14-dev", "3.14t-dev"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/bottleneck-action

  check:
    # This job is here is the "Required" one for merging PRs, and
    # it only runs after all the `test-*` jobs above have run. Hence
    # it serves as a check that CI actually ran before a PR gets merged.
    needs: [test-linux-macos, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder for CI checks in PRs
        run: echo "Done"

  build_wheels:
    needs: [test-linux-macos, test-windows]
    # if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, windows-11-arm, ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        env:
          CIBW_SKIP: "*_i686"
          CIBW_ENABLE: cpython-freethreading

      - name: Store wheel artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    needs: [test-linux-macos, test-windows]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          path: dist/*.tar.gz

  release:
    needs: [build_wheels, build_sdist]
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN}}
