name: Github Actions

on: ["push", "pull_request"]

permissions: {}

jobs:
  test-linux-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.14"
        os:
          - ubuntu-22.04
          - ubuntu-24.04-arm
          - macos-15-intel
          - macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/bottleneck-action

  test-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.14"
          - "3.14t"
        architecture:
          - x86
          - x64
        os:
          - windows-latest
          - windows-2022
        include:
          - os: windows-11-arm
            architecture: arm64
            python-version: "3.11"
          - os: windows-11-arm
            architecture: arm64
            python-version: "3.14"
          - os: windows-11-arm
            architecture: arm64
            python-version: "3.14t"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/bottleneck-action

  test-pyversions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
         - "3.10"
         - "3.11"
         - "3.12"
         - "3.13"
         - "3.13t"
         - "3.14"
         - "3.14t"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/bottleneck-action

  check:
    # This job is here is the "Required" one for merging PRs, and
    # it only runs after all the `test-*` jobs above have run. Hence
    # it serves as a check that CI actually ran before a PR gets merged.
    needs:
      - test-linux-macos
      - test-windows
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder for CI checks in PRs
        run: echo "Done"

  build_wheels:
    needs:
      - test-linux-macos
      - test-windows
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-15-intel
          - macos-latest
          - windows-latest
          - windows-11-arm
          - ubuntu-latest
          - ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build wheels
        uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc # v3.3.0

      - name: Store wheel artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    needs:
     - test-linux-macos
     - test-windows
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: dist/*.tar.gz

  release:
    needs:
      - build_wheels
      - build_sdist
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0 # zizmor: ignore[use-trusted-publishing]
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN}}
